
/* >>>>>>>>> my style for navbar <<<<<<<<<<<< */
.myClassBackgr{
    background-color: #FED517;
    color: black;
    font-weight: 100;
}

.my-ul-navbar:hover{
    color:rgb(246, 223, 8) !important;
}

/* .{ 
    color: #0d6efd;
    font-weight: bolder;
}   */
