
/* >>>>>>>>> own style for navbar <<<<<<<<<<<< */
.my-navbar-bg-cl{
    background-color: rgba(47, 81, 230, 0.485) !important;
}

.my-nav-brand{
    color: white !important;
}

.my-ul-navbar{
    color: white !important; 
}

.my-ul-navbar:hover{
    color: rgb(0, 0, 0) !important; 
}

.my-nav-brand:hover{
    color: rgb(0, 0, 0) !important;
}
